<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="{{ url_for('static', filename='assets/img/favicon2.png') }}" type="image/png">
  <title>Victor Portafolio</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <header>
    <div class="logo">Victor Alvarado</div>
    <nav>
      <ul>
        <li data-target="experience">Experience</li>
        <li data-target="projects">Projects</li>
        <li class="dark-toggle">◑</li>
      </ul>
    </nav>
  </header>

  <section class="hero">
    <h1>Hi <span>I´m Víctor 👋</span> a software engineer crafting smart solutions through <span>data</span> and <span>code.</span></h1>
    <div class="cta">
      <a href="{{ url_for('static', filename='pdf/VictorAlvarado-ES-MX.pdf') }}" download="VictorAlvarado-SoftwareEngineer.pdf"><button>Download CV</button></a>
      <a href="https://www.linkedin.com/in/victor-aapv/" target="_blank"><button>LinkedIn</button></a>
      <a href="mailto:vmalvaradop0@gmail.com"><button>Email</button></a>
      <a href="https://github.com/victor-alvop" target="_blank"><button>Github</button></a>
    </div>
  </section>

  <section>
    <h2>About Me</h2>
    <p>Hello, I am Victor, a software engineer skilled in building scalable and functional platforms. I am always guided
      by my three core principles: 
      <br><br>
      <li><b>Effective communication: </b>Because collaboration and clarity are key to any successful project.</li>
      <li><b>Agile solutions: </b>As I believe in adapting quickly to change and delivering incremental value.</li>
      <li><b>Autonomous learning: </b>Since the tech world moves fast, and staying ahead means being curious and self-driven.</li>
      <br>
      Currently, I am seeking an opportunity that presents new challenges and helps solidify my knowledge.</p>
  </section>
  <section id="strengths">
    <h2>Technologies</h2>
    <div class="technologies" id="technologies">
      <span class="tag" id="tag-python">Python</span>
      <span class="tag" id="tag-java">Java</span>
      <span class="tag" id="tag-html">HTML</span>
      <span class="tag" id="tag-css">CSS</span>
      <span class="tag" id="tag-js">JavaScript</span>
      <span class="tag" id="tag-flask">Flask</span>
      <span class="tag" id="tag-django">Django</span>
      <span class="tag" id="tag-postgresql">PostgreSQL</span>
      <span class="tag" id="tag-mongodb">Mongo DB</span>
      <span class="tag" id="tag-airflow">Airflow</span>
      <span class="tag" id="tag-mwaa">AWS Airflow (MWAA)</span>
      <span class="tag" id="tag-pyspark">PySpark</span>
      <span class="tag" id="tag-lambda">AWS Lambda</span>
      <span class="tag" id="tag-api-gateway">AWS API Gateway</span>
      <span class="tag" id="tag-powerbi">Power BI</span>
      <span class="tag" id="tag-looker">Looker Studio</span>
    </div>
  </section>
  
  <section id="experience">
    <h2>Experience</h2>
    <div class="experience">
      <div>
        <br>
        <h2>TechOps Analyst at Konfront (Remote)</h2>
        <p><strong>October 2022 – Present</strong></p>
        <br>
        <h3>🧑‍💻 Software Engineering Experience</h3>
        <br>
        <ul>
          <li><strong>System Design & Development:</strong> Spearheaded the end-to-end development of multiple systems from scratch using Bubble.io, focusing on scalability, usability, and performance.</li>
          <li><strong>API Development:</strong> Built and maintained python APIs using <code>AWS API Gateway</code> and <code>AWS Lambda</code>, ensuring secure and efficient communication between systems.</li>
          <li><strong>Invoice Automation & Compliance:</strong> Integrated an Invoice API aligned with government regulations, leading to the automated creation of over 7,400 compliant invoices. Ensured precision and legal alignment in every transaction.</li>
          <li><strong>Bug Fixing & Maintenance:</strong> Consistently identified, debugged, and resolved system issues in production environments, improving system reliability and user satisfaction.</li>
          <li><strong>Project & Team Leadership:</strong> Led a team of two members, coordinating the execution of four operational projects that served a user base of over 16,000. Responsibilities included task management, sprint planning, and aligning tech goals with business objectives.</li>
        </ul>
        <br>
        <h3>📊 Data Engineering & Automation Experience</h3>
        <br>
        <ul>
          <li><strong>Operational Data Strategy:</strong> Contributed to the creation of a robust data strategy that aligned technical solutions with business intelligence needs, enabling better decision-making across departments.</li>
          <li><strong>Database Architecture:</strong> Designed and maintained relational SQL databases with around 90 well-structured tables per project, optimizing schema for scalability, indexing, and relational integrity.</li>
          <li><strong>Web Scraping & Data Extraction:</strong> Developed Python-based web scraping bots to automate the extraction of relevant data from external platforms, improving data availability for internal processes.</li>
          <li><strong>ETL & KPI Automation:</strong> Designed and implemented a complete ETL strategy to automate the generation of KPI dashboards. This included data collection, transformation, and visualization for multiple ongoing projects.</li>
          <li><strong>ETL Flow Development with AWS Airflow and PySpark:</strong> Built ETL pipelines using AWS Airflow and PySpark to construct a data warehouse that enables financial, user behavior, and transactional analysis of the application.</li>
        </ul>
      </div>
      <div>
        <h2>Sales Manager at GRACECO S.A.P.I. de C.V (On-site)</h2>
        <p><strong>January 2022 – October 2022</strong></p>
        <br>
        <h3>📈 Sales Operations & Data Management</h3>
        <br>
        <ul>
          <li><strong>Client & Payment Database Structuring:</strong> Organized and maintained Excel-based databases for clients and payment records to ensure accuracy and traceability.</li>
          <li><strong>Sales Dashboard Development:</strong> Designed and implemented a dashboard to visualize key sales metrics, improving data accessibility and decision-making.</li>
          <li><strong>Reporting & Communication:</strong> Compiled and shared monthly sales reports with stakeholders, ensuring transparency and alignment across teams.</li>
        </ul>
        
      </div>
    </div>
  </section>

  <section id="projects">
    <h2>Projects</h2>
    <div class="projects">
      <div class="card">
        <img src="{{ url_for('static', filename='assets/img/DataShakeLogo-2.png') }}">
        <h3>Data Shake</h3>
        <div class="tags">
          <span class="tag" id="tag-python">Python</span>
          <span class="tag" id="tag-flask">Flask</span>
          <span class="tag" id="tag-postgresql">PostgreSQL</span>
          <span class="tag" id="tag-etl"> ETL</span>
        </div>
        <p>After a shake, everything just hits different. This is a no code ETL tool perfect to extract, transform and load data from different Databases.</p>
          <a href="{{ url_for('datashake.datashake_index') }}">
            <button>Try</button>
          </a>
      </div>
      <div class="card">
        <img src="{{ url_for('static', filename='assets/img/youtubeAnalizer.png') }}"/>
        <h3>Youtube Analizer</h3>
        <div class="tags">
          <span class="tag" id="tag-python">Python</span>
          <span class="tag" id="tag-flask">Flask</span>
          <span class="tag" id="tag-postgresql">PostgreSQL</span>
          <span class="tag" id="tag-data-analysis">Data analysis</span>
          <span class="tag" id="tag-chatgpt">Chat GPT API</span>
        </div>
        <p>Don’t get canceled by your audience.
          Use this YouTube Audience Analyzer to get objective recommendations for your videos, community management, and comment moderation. Understand your viewers better and grow your channel with confidence.</p>
        <button>Comming Soon</button>
      </div>
      <div class="card">
        <img src="{{ url_for('static', filename='assets/img/hrAnalizer.png') }}"/>
        <h3>The best candidate</h3>
        <div class="tags">
          <span class="tag" id="tag-python">Python</span>
          <span class="tag" id="tag-flask">Flask</span>
          <span class="tag" id="tag-postgresql">PostgreSQL</span>
          <span class="tag" id="tag-data-analysis">Data analysis</span>
          <span class="tag" id="tag-chatgpt">Chat GPT API</span>
        </div>
        <p>A fast candidate resume analyzer, just upload the resumen and the candidate URLs and get a summary of their skills, experience, projects and how can the help you.</p>
        <button>Comming soon</button>
      </div>
    </div>
  </section>

  <section id="courses">
    <h2>Completed Courses</h2>
    <h2>Programming courses</h2>
    <div class="courses-container">
      <div class="course-card">
        <h3>Python: Language fundamentals</h3>
        <p>Platzi</p>
        <div class="cta">
          <a href="https://platzi.com/p/vmalvaradop0/curso/4227-course/diploma/detalle/" target="_blank"><button>View Certificate</button></a>
        </div>
      </div>
      <div class="course-card">
        <h3>Python: From Zero to Facial Recognition</h3>
        <p>Udemy</p>
        <div class="cta">
          <a href="https://www.udemy.com/certificate/UC-7ee28849-e98e-4b72-a0d6-ae947fe6b321/" target="_blank"><button>View Certificate</button></a>
        </div>
      </div>
      <div class="course-card">
        <h3>Python: Functions and error handling</h3>
        <p>Platzi</p>
        <div class="cta">
          <a href="https://platzi.com/p/vmalvaradop0/curso/4260-course/diploma/detalle/" target="_blank"><button>View Certificate</button></a>
        </div>
      </div>
      <div class="course-card">
        <h3>Python: Master web scrapping course</h3>
        <p>Udemy</p>
        <div class="cta">
          <a href="https://www.udemy.com/certificate/UC-b46f87fc-74d6-484a-a206-884bd01c6b77/" target="_blank"><button>View Certificate</button></a>
        </div>
      </div>
    </div>
    <h2>Databases courses</h2>
    <div class="courses-container">
      <div class="course-card">
        <h3>SQL: Databases fundamentals</h3>
        <p>Platzi</p>
        <div class="cta">
          <a href="https://platzi.com/p/vmalvaradop0/curso/1566-course/diploma/detalle/" target="_blank"><button>View Certificate</button></a>
        </div>
      </div>
      <div class="course-card">
        <h3>PostgreSQL: Language fundamentals</h3>
        <p>Platzi</p>
        <div class="cta">
          <a href="https://platzi.com/p/vmalvaradop0/curso/1480-course/diploma/detalle/" target="_blank"><button>View Certificate</button></a>
        </div>
      </div>
      <div class="course-card">
        <h3>SQL: MySQL and MariaDb</h3>
        <p>Platzi</p>
        <div class="cta">
          <a href="https://platzi.com/p/vmalvaradop0/curso/4203-course/diploma/detalle/" target="_blank"><button>View Certificate</button></a>
        </div>
      </div>
    </div>
    <h2>DATA courses</h2>
    <div class="courses-container">
      <div class="course-card">
        <h3>Data Analysis by Google Inc.</h3>
        <p>Coursera</p>
        <div class="cta">
          <a href="https://www.coursera.org/account/accomplishments/specialization/KT23VAUBK8MP?utm_source=link&utm_medium=certificate&utm_content=cert_image&utm_campaign=sharing_cta&utm_product=prof" target="_blank"><button>View Certificate</button></a>
        </div>
      </div>
      <div class="course-card">
        <h3>Data Warehousing: The ulimate guide</h3>
        <p>Udemy</p>
        <div class="cta">
          <a href="https://www.udemy.com/certificate/UC-3855dae2-8355-48fc-b63a-b35976a16ed3/" target="_blank"><button>View Certificate</button></a>
        </div>
      </div>
      <div class="course-card">
        <h3>Big data and Spark: Data engineering with python and pyspark</h3>
        <p>Udemy</p>
        <div class="cta">
          <a href="https://www.udemy.com/certificate/UC-76daf552-ba3d-4fe0-b813-030270e6a0fa/" target="_blank"><button>View Certificate</button></a>
        </div>
      </div>
      <div class="course-card">
        <h3>Excel: Functions and dashboards</h3>
        <p>Udemy</p>
        <div class="cta">
          <a href="https://www.udemy.com/certificate/UC-2e7a6431-c7c1-45a4-a04a-3f64eac3d515/" target="_blank"><button>View Certificate</button></a>
        </div>
      </div>
    </div>
  </section>

  <footer class="site-footer">
    <div class="footer-links">
      <a href="mailto:vmalvaradop0@gmail.com">📧 vmalvaradop0@gmail.com</a>
      <a href="https://www.linkedin.com/in/victor-aapv/" target="_blank">💼 LinkedIn</a>
      <a href="https://wa.me/+523311217195" target="_blank">📱 WhatsApp</a>
    </div>
    <p class="footer-copy">&copy; 2025 Created by Victor Alvarado</p>
  </footer>
  

  <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
